button {
  display: flex;
  padding: .2rem;
  border-radius: 12px;
  border: .1rem solid #42d74c;
  width: 100%;
  place-content: center;
  cursor: pointer;
  background-color: black;
}

button:hover {
  background-color: #42d74c;
  border-color: #42d74c;
  color: black;
}

table {
  border-collapse: collapse;
}

thead {
  color: black;
  background-color: #42d74c;
}

th {
  border-top: none!important;
}

th:first-child, th:nth-child(2) {
  border-right: 1px solid black!important;
}

th:first-child, td:first-child {
  border-left: none!important;
}

th:last-child, td:last-child {
  border-right: none!important;
}

td, th {
  border: 1px solid #42d74c;
  padding: 1rem;
  font-size: 1.5rem;
}

tbody td:nth-child(1),
tbody td:nth-child(2),
tbody td:nth-child(3) {
  border-bottom: none!important;
}

.wps-form, .wps-game-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wps-form-input-content, .wps-game-form-input {
  position: relative;
}

.wps-game {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.wps-form-label {
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  color: #42d74c;
  transition: .5s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.wps-form-input {
  display:block;
  width:100%;
  box-sizing: border-box;

  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.wps-form-input:focus {
  outline:none;
}

.wps-form-input:focus ~ .wps-form-label{
  top:-12px;
  font-size:13px;
}

.wps-form-input:not(:placeholder-shown) ~ .wps-form-label {
  top:-12px;
  font-size:13px;
}

@media (max-width: 600px) {
  .wps-game {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .wps {
    margin-top: 30vw;
  }
}