.pokemon {
  background-color: #e22024;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid #3663af;
  margin-top: 4rem;
}

.pokemon h1, .pokemon h2 {
  color: #fecb04;
  text-shadow: 5px 0 #3663af, -5px 0px #3663af, 0 5px #3663af, 0 -5px #3663af, 5px 5px #3663af, -5px -5px #3663af, 5px -5px #3663af, -5px 5px #3663af;
  font-size: 4rem;
}

.background-image {
  border-radius: 20px;
  background-color: #67c5e1;
  background-color: white;
  background: repeating-conic-gradient(white, #67c5e1 20deg);
  /* background: repeating-conic-gradient( hsl(0deg 0% 100% / 20%) 0deg 15deg, hsla(0,0%,100%,0) 0deg 30deg ) #67C5E2; */
  /* background: repeating-radial-gradient(white 0 10%, #67c5e1 30% 40%);*/
}

.background-image img {
  aspect-ratio: 1/1;
  width: 20rem;
}

.pokemon > div, .pokemon form, .pokemon-title div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.pokemon > div, .pokemon-title div {
  align-items: center;
}

.pokemon input, .pokemon button {
  border: none;
  border-bottom: 5px solid #3663af;
  color: #fecb04;
  border-radius: 8px;
  font-weight: bold;
  padding: 0 1rem;
  text-align: center;
}

.pokemon input:focus {
  outline: 1px solid #fecb04;
}

.pokemon button:hover {
  border-bottom: 5px solid #3663af;
  color: #fecb04;
  background-color: #3663af;
}

.pokemon form span {
  color: crimson;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 850px) {
  .pokemon { 
    flex-direction: column;
    margin-top: 5rem;
  }

  .pokemon-title h2 {
    font-size: 2rem;
  }

  .pokemon-title img {
    width: 40vw;
  }

  .background-image {
    text-align: center;
  }

  .background-image img {
    width: 50vw;
  }

  .hide {
    display: none;
  }
}

@media (max-width: 450px) {
  .pokemon h1 {
    font-size: 3.5rem;
  }
}